*{
  padding: 0; 
  margin: 0;
}

canvas { 
  background-image: url('img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;            
  -ms-interpolation-mode: nearest-neighbor;
  display: block; 
  margin: 0 auto;
}

html{
  height: 100%;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}